// index/home page
//-----------------------------------------------------------------------------------
.mod-featured
  overflow: hidden

.mod-first
  overflow: hidden
  height: 580px
  position: relative
  display: flex
  justify-content: center
  padding: 0
  &:after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    background-color: #000000
    opacity: 0.7
    z-index: 1
    display: inline-block

  .wrap-text
    align-self: center
    position: relative
    z-index: 2
    width: 100%

  h1
    margin: 0 auto 30px
    color: #ffffff
    font-family: $mont
    font-size: 36px
    font-weight: 700
    line-height: 40px
    width: 100%
    max-width: 570px
    display: block
  p
    color: #ffffff
    font-family: $mont
    font-size: 14px
    font-weight: 400
    line-height: 21px
    margin: 0 auto 20px
    width: 100%
    max-width: 570px
    display: block

  .form-search
    position: relative
    margin: 0 auto
    width: 100%
    display: block
    max-width: 570px
    height: 60px
    background-color: #ffffff
    padding-right: 170px
    @media (max-width: $screen-xs-max)
      padding-right: 60px
    .input-search
      height: 60px
      padding: 20px 125px 20px 20px
      color: $color-text
      font-family: $mont
      font-size: 14px
      font-weight: 400
      line-height: 20px
      width: 100%
      border: none
      @media (max-width: $screen-xs-max)
        padding-right: 20px


    .el-dropdown
      position: absolute
      top: 0
      right: 171px
      @media (max-width: $screen-xs-max)
        right: auto
        left: 50%
        top: 60px
        transform: translateX(-50%)
      .ui.selection.dropdown
        padding: 21px 2.1em 21px 1em
      .ui.selection.dropdown > .delete.icon,
      .ui.selection.dropdown > .dropdown.icon,
      .ui.selection.dropdown > .search.icon
        padding: 21px 11px

    .el-dropdown .ui.selection.visible.dropdown>.text:not(.default)
      @media (max-width: $screen-xs-max)
        color: white
    .el-dropdown .ui.dropdown > .text,
    .el-dropdown .ui.default.dropdown:not(.button) > .text,
    .el-dropdown .ui.dropdown:not(.button) > .default.text,
    .ui.selection.dropdown > .delete.icon,
    .ui.selection.dropdown > .dropdown.icon,
    .ui.selection.dropdown > .search.icon
      @media (max-width: $screen-xs-max)
        color: white
    .el-btn
      position: absolute
      right: 0
      top: 0
      @media (max-width: $screen-xs-max)
        width: 60px
        height: 60px
        min-width: 60px
      .icon
        display: none
        font-size: 20px
        color: white
        @media (max-width: $screen-xs-max)
          display: inline-block
      span
        display: inline-block
        @media (max-width: $screen-xs-max)
          display: none

    .easy-autocomplete-container
      width: 100%
      transition: all 0.2s
      position: relative
      z-index: 2
      ul
        width: 100%
        background: white
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.05)
        max-height: 240px
        overflow: auto
        border-radius: 0 0 4px 4px
      li

        padding: 20px
        text-align: left
        text-transform: uppercase
        color: $color-text
        font-family: $mont
        font-size: 14px
        font-weight: 400
        line-height: 20px
        border: none
        transition: all 0.2s
        &:hover
          background-color: #fafafa


.section
  padding: 90px 0
  @media (max-width: $screen-xs-max)
    padding: 65px 0

.mod-get-more
  padding: 140px 0
  position: relative
  background: url(../img/get-more-bg.jpg) no-repeat center/cover
  @media (max-width: $screen-xs-max)
    padding: 65px 0
  &:after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    background-color: #000000
    opacity: 0.7
    z-index: 1
    display: inline-block
  .container
    position: relative
    z-index: 2
  .section-title
    color: white
    width: 100%
    max-width: 570px
    margin: 0 auto 20px

  p
    color: #ffffff
    font-family: $mont
    font-size: 14px
    font-weight: 400
    line-height: 21px
    margin: 0 auto 30px
    width: 100%
    max-width: 570px
    display: block

  .app-links
    li
      display: inline-block
      &:not(:last-child)
        margin-right: 30px
        @media (max-width: $screen-xs-max)
          margin-right: 0
          margin-bottom: 20px
    a
      display: inline-block
      line-height: 60px
      text-align: center
      width: 170px
      height: 60px
      background-color: #000000
      transition: all 0.2s
      vertical-align: middle
      &:hover
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.05)
        background-color: #ffffff
        .andr
          fill: black
      svg
        display: inline-block
        vertical-align: middle

    .andr
      transition: all 0.2s
      fill: white
    .ios
      svg
        transition: all 0.2s
        fill: white
      &:hover
        svg
          fill: black

.how-it-works-item
  position: relative
  @extend %clear-fix
  @media (max-width: 500px)
    text-align: center
  &:not(:last-child)
    margin-bottom: 60px
  &:first-child
    margin-top: 30px
    @media (max-width: $screen-sm-max)
      margin-top: 60px
  &:last-child
    @media (max-width: $screen-sm-max)
      margin-bottom: 60px

  .number
    color: #f7f7f7
    font-family: $mont
    font-size: 64px
    font-weight: 700
    position: absolute
    left: 0
    top: -45px
    z-index: -1
    @media (max-width: 500px)
      left: 50%
      transform: translateX(-50%)

  .title
    width: 110px
    color: $color-text
    font-family: $mont
    font-size: 14px
    font-weight: 700
    line-height: 21px
    margin-right: 30px
    margin-left: 30px
    float: left
    @media (max-width: 500px)
      float: none
      margin-left: auto
      margin-right: auto

  .text
    width: calc(100% - 170px)
    color: #797a80
    font-family: $mont
    font-size: 14px
    font-weight: 500
    line-height: 21px
    float: left
    @media (max-width: 500px)
      float: none
      width: 100%

.mod-categories
  background-color: #fafafa
  @media (max-width: $screen-xs-max)
    padding-bottom: 40px
  .categor-wrap
    @media (max-width: $screen-sm-max)
      margin-bottom: 30px
      text-align: center

  .categor-item
    position: relative
    display: inline-block
    background: white
    width: 100%
    max-width: 270px
    transition: all 0.2s
    overflow: hidden
    padding-bottom: 60px
    font-size: 0

    &:hover
      text-decoration: none
      box-shadow: 0 20px 60px rgba(0, 0, 0, 0.05)
      .text-wrap

        top: 103px
        height: auto
        @media (max-width: $screen-md-max) and (min-width: $screen-md-min)
          top: 71px
      .text
        opacity: 1
        visibility: visible

    .name
      display: inline-block
      color: $color-text
      font-family: $mont
      font-size: 14px
      font-weight: 700
      line-height: 21px
      width: 100%
      box-sizing: border-box
      padding: 20px 30px 5px

    .text
      width: 100%
      color: #797a80
      font-family: $mont
      font-size: 12px
      font-weight: 400
      line-height: 21px
      display: block
      opacity: 0
      visibility: hidden
      padding: 0 30px 5px 30px
      overflow: hidden
      height: 47px
      transition: all 0.2s


    .text-wrap
      transition: all 0.2s
      position: absolute
      left: 0
      top: 150px
      display: inline-block
      width: 100%
      padding: 0 0 15px 0
      z-index: 1
      height: 60px
      overflow: hidden
      background: white
      @media (max-width: $screen-md-max) and (min-width: $screen-md-min)
        top: 118px

      @media (max-width: $screen-xs-max)
        text-align: center

.featured-video-slider
  margin-bottom: 60px
  margin-left: -15px
  margin-right: -15px

.slick-arrow
  display: inline-block
  width: 60px
  height: 60px
  background-color: #fafafa
  border-radius: 100%
  line-height: 60px
  text-align: center
  transition: all 0.2s
  z-index: 2
  color: #b8bbcc
  font-size: 10px
  @media (max-width: 1280px)
    display: none
  &:hover
    color: white
    cursor: pointer
    background: $color-blue

.slick-next
  margin-right: -90px
  @media (max-width: 1460px)
    margin-right: -30px
  @media (max-width: 1340px)
    margin-right: 0
.slick-prev
  margin-left: -90px
  @media (max-width: 1460px)
    margin-left: -30px
  @media (max-width: 1340px)
    margin-left: 0

.featured-video
  position: relative
  display: inline-block
  width: 100%
  padding: 0 15px
  @media (max-width: 500px)
    padding: 0 10px

  .top
    position: absolute
    top: 0
    left: 20px
    color: #ffffff
    font-family: $mont
    font-size: 12px
    font-weight: 700
    line-height: 18px
    text-transform: uppercase
    background-color: #fc0d1c
    display: inline-block
    padding: 20px 5px 3px
    z-index: 1
  .prise
    position: absolute
    top: 18px
    right: 20px
    display: inline-block
    padding: 2px 5px
    color: #ffffff
    font-family: $mont
    font-size: 12px
    font-weight: 400
    line-height: 18px
    text-transform: uppercase
    background-color: $color-text
    z-index: 1

  .video-player
    margin-bottom: 20px

  .name
    color: $color-text
    font-family: $mont
    font-size: 14px
    font-weight: 700
    line-height: 21px

  .category
    color: #b8bbcc
    font-family: $mont
    font-size: 12px
    font-weight: 700
    line-height: 18px
    text-transform: uppercase
    margin-top: 10px
  .info
    @extend %clear-fix
    display: block
    margin-top: 10px
    li
      float: left
      position: relative
      display: inline-block
      color: $color-text
      font-family: $mont
      font-size: 12px
      font-weight: 400
      line-height: 18px
      text-transform: uppercase
      &:not(:last-child)
        margin-right: 25px
        &:after
          display: inline-block
          position: absolute
          right: -15px
          top: 0
          content: '•'
          color: $color-text
          font-family: $mont
          font-size: 12px
          font-weight: 400
          line-height: 18px
          text-transform: uppercase

.video-player
  &.mod-sm
    transition: all 0.2s
    &:hover
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2)

      .full-screen
        opacity: 1
        @media (max-width: $screen-xs-max)
          opacity: 0
    .play-pause
      display: none
    &.play
      .full-screen
        opacity: 1
        @media (max-width: $screen-xs-max)
          opacity: 0
      .play-pause
        float: left
        display: inline-block
    &:before, .name
      display: none
    .full-screen
      opacity: 0
    .video-controls
      background: none
      padding-bottom: 15px
      height: 50px
      padding-right: 15px
      .video-scrubber, .btn-mute, .volume, .video-time
        display: none !important



