// elements
//-----------------------------------------------------------------------------------


.tirangle-l:before
  width: 0
  height: 0
  content: ""
  border-width: 5px 4px 0 4px
  border-style: solid
  border-color: #000 transparent transparent transparent


.el-dropdown
  display: inline-block

  .ui.selection.dropdown
    min-width: auto
    padding: 11px 2.1em 11px 1em
    background: none

  .ui.selection.dropdown > .delete.icon,
  .ui.selection.dropdown > .dropdown.icon,
  .ui.selection.dropdown > .search.icon
    padding: 11px

  .ui.selection.active.dropdown .menu
    background: white

  .ui.selection.active.dropdown,
  .ui.selection.active.dropdown .menu
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.05)
    //background-color: #ffffff;

  .ui.dropdown .menu,
  .ui.selection.dropdown
    border: none !important

  .ui.selection.visible.dropdown > .text:not(.default)
    color: $color-text
    font-weight: 700

  .ui.default.dropdown:not(.button) > .text,
  .ui.dropdown:not(.button) > .default.text
    color: #2b2b2b

  .ui.dropdown .dropdown.icon:before
    position: relative
    display: inline-block

  .ui.dropdown.active.visible .dropdown.icon:before
    transform: rotate(180deg)

  .ui.dropdown > .text
    text-transform: uppercase
    color: $color-text
    font-family: $mont
    font-size: 12px
    font-weight: 700
    line-height: 18px

  .ui.dropdown .menu > .item
    text-transform: uppercase
    color: $color-text
    font-family: $mont
    font-size: 12px
    font-weight: 700
    line-height: 18px
    border: none
    &:hover
      background-color: #fafafa
    &.active.selected
      color: $color-blue


// # TODO: el-btn
// # -----------------------------------------------------------------------------------
.el-btn
  display: inline-block
  min-width: 170px
  padding: 0 20px
  text-align: center
  height: 60px
  color: #ffffff
  font-family: $mont
  font-size: 12px
  font-weight: 700
  line-height: 60px
  text-transform: uppercase
  background-color: $color-blue
  &:hover
    text-decoration: none


.section-title
  color: $color-text
  font-family: $mont
  font-size: 24px
  font-weight: 700
  line-height: 30px
  margin-bottom: 30px
  @media (max-width: $screen-sm-max)
    text-align: center

.breadcrumbs-wrap
  position: absolute
  left: 0
  width: 100%
  top: 80px
  z-index: 2
  padding: 20px 0
  background-color: rgba(#232323, 0.5)
  @media (max-width: $screen-sm-max)
    top: 67px

.breadcrumbs
  @extend %clear-fix
  display: block
  li
    float: left
    position: relative
    display: inline-block
    color: white
    font-family: $mont
    font-size: 12px
    font-weight: 700
    line-height: 18px
    text-transform: uppercase
    &:not(:last-child)
      margin-right: 25px
      &:after
        display: inline-block
        position: absolute
        right: -15px
        top: 0
        content: '•'
        color: white
        font-family: $mont
        font-size: 12px
        font-weight: 700
        line-height: 18px
        text-transform: uppercase