// footer
//-----------------------------------------------------------------------------------
.footer
  .copy
    color: $color-text
    font-family: $mont
    font-size: 12px
    font-weight: 400
    line-height: 20px
    padding: 30px 0

  .footer-nav
    background-color: #fafafa
    padding: 90px 0
    @media (max-width: $screen-xs-max)
      padding: 65px 0
      text-align: center


  .nav
    @media (max-width: $screen-sm-max)
      margin-bottom: 30px
    li
      &:not(:last-child)
        margin-bottom: 30px
    h3
      a
        color: $color-text
        font-family: $mont
        font-size: 14px
        font-weight: 700

    a
      color: #b8bbcc
      font-family: $mont
      font-size: 12px
      font-weight: 700
      line-height: 24px
      transition: all 0.2s
      &:hover
        text-decoration: none
        color: $color-blue

  .social
    display: inline-block
    margin-top: 30px
    @extend %clear-fix
    li
      float: left
      &:not(:last-child)
        margin-right: 10px
    a
      display: inline-block
      width: 60px
      height: 60px
      background-color: #ffffff
      transition: all 0.2s
      border-radius: 100px
      line-height: 60px
      text-align: center
      vertical-align: middle
      font-size: 16px
      &:hover
        text-decoration: none
        color: white
      &.mod-fb:hover
        background-color: #4961b5
      &.mod-you
        font-size: 12px
        &:hover
          background-color: #f31a11
      &.mod-in:hover
        background-image: linear-gradient(166deg, #4e60d3 0%, #913baf 14%, #d52d88 76%, #f26d4f 100%)
      &.mod-tw:hover
        background-color: #63ccff