// header
//-----------------------------------------------------------------------------------
.header
  position: fixed
  z-index: 10
  top: 0
  left: 0
  width: 100%
  padding-bottom: 17px
  transition: background 0.2s
  &.mod-fixed, &.mod-white
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05)
    background-color: #ffffff
    .btn-authentication, .btn-menu
      color: #000000
    .logo, .nav a, .authentication a
      color: #000000
    .authentication a.mod-btn
      color: white
      background: black
      &:hover
        color: white
    .el-dropdown .ui.selection.visible.dropdown>.text:not(.default)
      color: #000000
    .el-dropdown .ui.dropdown > .text,
    .el-dropdown .ui.default.dropdown:not(.button) > .text,
    .el-dropdown .ui.dropdown:not(.button) > .default.text
      color: #000000

    .ui.selection.dropdown > .delete.icon,
    .ui.selection.dropdown > .dropdown.icon,
    .ui.selection.dropdown > .search.icon
      color: $color-blue

  .btn-menu
    color: white
    font-size: 12px
    display: none
    position: absolute
    left: 30px
    top: 6px
    @media (max-width: $screen-sm-max)
      display: inline-block

  .btn-authentication
    font-size: 16px
    color: white
    display: none
    position: absolute
    right: 30px
    top: 5px
    @media (max-width: $screen-sm-max)
      display: inline-block

  .logo
    display: inline-block
    color: #ffffff
    font-family: $mont
    font-size: 24px
    font-weight: 700
    letter-spacing: -1px
    margin-top: 21px
    transition: all 0.2s
    float: left
    margin-right: 45px
    @media (max-width: $screen-sm-max)
      float: none
      display: block
      width: 145px
      margin: 21px auto 0
    &:hover
      text-decoration: none
      color: $color-blue

  .el-dropdown
    float: left
    margin-top: 20px
    @media (max-width: $screen-sm-max)
      display: none
  .el-dropdown .ui.selection.visible.dropdown>.text:not(.default)
    color: white
  .el-dropdown .ui.dropdown > .text,
  .el-dropdown .ui.default.dropdown:not(.button) > .text,
  .el-dropdown .ui.dropdown:not(.button) > .default.text,
  .ui.selection.dropdown > .delete.icon,
  .ui.selection.dropdown > .dropdown.icon,
  .ui.selection.dropdown > .search.icon
    color: white

  .nav
    display: inline-block
    margin-top: 20px
    margin-left: 130px
    @media (max-width: $screen-md-max)
      margin-left: 30px
    @media (max-width: $screen-sm-max)
      display: none

    @extend %clear-fix
    li
      display: inline-block
      float: left
      &:not(:last-child)
        margin-right: 30px
    a
      display: inline-block
      transition: all 0.2s
      text-transform: uppercase
      color: #fff
      font-family: $mont
      font-size: 12px
      font-weight: 700
      line-height: 40px
      &:hover
        text-decoration: none
        color: $color-blue

  .authentication
    display: inline-block
    margin-top: 20px
    float: right
    @media (max-width: $screen-sm-max)
      display: none

    @extend %clear-fix
    li
      display: inline-block
      float: left
      &:not(:last-child)
        margin-right: 30px
    a
      display: inline-block
      transition: all 0.2s
      text-transform: uppercase
      color: #fff
      font-family: $mont
      font-size: 12px
      font-weight: 700
      line-height: 40px
      &:hover
        text-decoration: none
        color: $color-blue
      &.mod-btn
        min-width: 140px
        width: 100%
        text-align: center
        background: rgba(black, 0.7)
        &:hover
          background: $color-blue
          color: white

