
// # TODO: el-video-youtube
// # -----------------------------------------------------------------------------------
.full
  .video-player-youtube
    width: 100vw
    height: 100vh
    .video-youtube-wrap
      top: 50%
      transform: translateY(-50%)

.video-player-youtube
  position: relative
  display: inline-block
  font-size: 0
  background-color: black
  width: 100%
  transition: all 0.2s
  &:hover
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2)

  &:before
    content: ''
    display: inline-block
    width: 100%
    height: 100%
    position: absolute
    left: 0
    bottom: 0
    background: rgba(black, 0.7)
    z-index: 1

  .category
    color: #ffffff
    font-family: $mont
    font-size: 12px
    font-weight: 700
    line-height: 18px
    text-transform: uppercase
    pointer-events: none
    margin-top: 10px

  .name
    position: absolute
    left: 30px
    top: 30px
    width: 100%
    color: #ffffff
    font-family: $mont
    font-size: 24px
    font-weight: 700
    line-height: 21px
    pointer-events: none
    z-index: 2
    @media (max-width: $screen-xs-max)
      display: none

  &.play
    &:before
      opacity: 0
      visibility: hidden
    .center-btm-play-youtube, .name
      opacity: 0
      visibility: hidden
    .icon-play
      display: none
    .icon-pause
      display: inline-block

  &.start
    .video-youtube-wrap
      .video-placeholder
        opacity: 1


  .video-controls
    position: absolute
    bottom: 0px
    left: 0
    background-color: rgba(#000000, 0.7)
    height: 60px
    width: 100%
    z-index: 1
    color: white
    box-sizing: border-box
    @extend %clear-fix
    padding-right: 25px
    padding-top: 20px
    padding-bottom: 19px
    @media (max-width: $screen-xs-max)
      height: 40px
      padding-right: 20px
      padding-top: 10px
      padding-bottom: 10px

  .video-youtube-wrap
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    position: relative
    width: 100%
    height: 0
    padding-bottom: 56.25%
    .video-placeholder
      opacity: 0

  .video-placeholder
    pointer-events: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    @media (max-width: $screen-xs-max)
      pointer-events: all !important

  .center-btm-play-youtube
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    display: inline-block
    width: 60px
    height: 60px
    background-color: rgba(#000000,0.7)
    border-radius: 100%
    line-height: 60px
    vertical-align: middle
    text-align: center
    transition: all 0.2s
    cursor: pointer
    z-index: 2
    &:hover
      cursor: pointer
      background-color: $color-blue

    &:before
      display: inline-block
      width: 0
      height: 0
      content: ""
      border-style: solid
      border-width: 5px 0 5px 8px
      border-color: transparent transparent transparent white
      margin-right: -2px

  .progress-bar
    position: absolute
    left: 0
    bottom: 60px
    outline: none
    padding: 0
    width: 100%
    height: 4px
    background-color: rgba(white, 0.5)
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $color-blue), color-stop(100%, $color-blue))
    background-image: -webkit-linear-gradient($color-blue, $color-blue)
    background-image: -moz-linear-gradient($color-blue, $color-blue)
    background-image: -o-linear-gradient($color-blue, $color-blue)
    background-image: linear-gradient($color-blue, $color-blue)
    background-size: 0% 100%
    background-repeat: no-repeat
    border-radius: 0
    cursor: pointer
    -webkit-appearance: none
    transition: all 0.1s
    @media (max-width: $screen-xs-max)
      bottom: 40px
    &:hover
      height: 8px
    &::-webkit-slider-runnable-track
      box-shadow: none
      border: none
      background: transparent
      -webkit-appearance: none
    &::-moz-range-track
      box-shadow: none
      border: none
      background: transparent
    &::-moz-focus-outer
      border: 0
    &::-webkit-slider-thumb
      width: 0px
      height: 0px
      border: 0
      background: #fff
      border-radius: 0
      box-shadow: none
      -webkit-appearance: none
      @media (max-width: $screen-xs-max)
        width: 16px
        height: 16px
        border-radius: 100%
    &::-moz-range-thumb
      width: 0px
      height: 0px
      border: 0
      background: #fff
      border-radius: 0
      box-shadow: none
      @media (max-width: $screen-xs-max)
        width: 16px
        height: 16px
        border-radius: 100%


  .video-scrubber, .video-progress
    cursor: pointer
    transition: all 0.1s

  .video-scrubber
    position: absolute
    bottom: 60px
    left: 0
    width: 100%
    cursor: pointer
    height: 4px
    background-color: rgba(#ffffff,0.5)
    @media (max-width: $screen-xs-max)
      height: 8px
    &:hover
      height: 8px
      .video-progress:after
        top: -5px
    @media (max-width: $screen-xs-max)
      bottom: 40px


  .video-progress
    width: 0
    height: 100%
    background-color: $color-blue
    cursor: pointer


  .video-time
    display: inline-block
    color: #ffffff
    font-family: $mont
    font-size: 12px
    font-weight: 400
    line-height: 18px
    text-transform: uppercase

    span
      display: inline-block
      padding: 0 4px
      min-width: 34px

  .full-screen-youtube
    float: right
    padding: 5px
    width: 20px
    height: 20px
    box-sizing: border-box
    display: inline-block
    background: url(../img/svg-source/full.svg) no-repeat center/14px
    transform: translateY(-2px)
    cursor: pointer
    @media (max-width: $screen-xs-max)
      display: none !important

  .video-element
    max-width: 100%
    width: 100%

  .icon-mute
    transform: translateY(-3px);
    padding: 5px
    width: 20px
    height: 20px
    box-sizing: border-box
    display: inline-block
    font-size: 0
    color: transparent
    background: url(../img/svg-source/sound.svg) no-repeat center/16px
    cursor: pointer

    &.muted
      background: url(../img/svg-source/volume-off.svg) no-repeat center/16px

  .icon-play
    transform: translateY(-3px)
    margin: 0 15px
    padding: 5px
    width: 20px
    height: 20px
    box-sizing: border-box
    display: inline-block
    background: url(../img/svg-source/play-btn.svg) no-repeat center/24px
    cursor: pointer

  .icon-pause
    transform: translateY(-3px)
    margin: 0 15px
    padding: 5px
    width: 20px
    height: 20px
    box-sizing: border-box
    display: none
    background: url(../img/svg-source/pause-btn.svg) no-repeat center/12px
    cursor: pointer

  .volume
    transform: translateY(-3px);
    position: relative
    display: inline-block
    margin: 0 15px
    width: 100px
    height: 2px
    cursor: pointer
    vertical-align: middle
    background-color: rgba(white, 0.5)
    @media (max-width: $screen-xs-max)
      width: 60px
    .volume-bar
      position: absolute
      z-index: 10
      top: 0
      left: 0
      display: block
      cursor: pointer
      width: 52%
      height: 100%
      background-color: $color-blue
      &:after
        display: inline-block
        content: ''
        width: 16px
        height: 16px
        border-radius: 100%
        background-color: #ffffff
        cursor: pointer
        right: -7px
        top: -7px
        position: absolute
        z-index: 10


