.icon
	display: inline-block
	vertical-align: middle
	width: 1em
	height: 1em
	fill: currentColor

.icon-fb
	width:(7/16)*1em

.icon-full
	width:(14/14)*1em

.icon-in
	width:(16/16)*1em

.icon-l-arrow
	width:(6/10)*1em

.icon-mute
	width:(341.33/341.33)*1em

.icon-nav
	width:(14/10)*1em

.icon-pause-btn
	width:(12/14)*1em

.icon-play-btn
	width:(24/24)*1em

.icon-r-arrow
	width:(6/10)*1em

.icon-search
	width:(512/512)*1em

.icon-sound
	width:(18/18)*1em

.icon-start
	width:(20/19)*1em

.icon-tw
	width:(14/12)*1em

.icon-user
	width:(16/16)*1em

.icon-volume-off
	width:(461.55/461.55)*1em

.icon-you
	width:(16/11)*1em

