$base64-png: 'image/png;base64'
$base64-jpg: 'image/jpeg;base64'
$base64-svg: 'image/svg+xml;base64'

// font var
//-----------------------------------------------------------------------------------
$default-font: Arial, 'Helvetica Neue', Helvetica, sans-serif

$mont: 'Montserrat', $default-font

// selection color
//-----------------------------------------------------------------------------------
$color-selection: dodgerblue

// color var
//-----------------------------------------------------------------------------------
$color-link: dodgerblue
$color-blue: #00d0ff
$color-text: #2b2b2b