<include src="../chunks/head.html"></include>
<body>
<div id="page-wrapper" class="page-wrapper">
    <!-- Begin header -->
    <include src="../chunks/header-w.html"></include>
    <!-- End header -->
    <!-- Begin page body -->
    <div id="page-body" class="page-body">
        <section class="section mod-first" style="background: url(img/catalogue-bg.jpg) no-repeat center/cover">
            <div class="breadcrumbs-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="breadcrumbs">
                                <li><a href="#">Home</a></li>
                                <li><span>Catalogue video</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Catalogue video</h1>
                            <div class="form-search">
                                <form action="#">
                                    <input class="input-search" placeholder="Search keyword" type="text"
                                           id="autocomplete">
                                    <div class="el-dropdown">
                                        <select class="ui dropdown">
                                            <option value="">By video</option>
                                            <option selected value="1">By video</option>
                                            <option value="0">By stream</option>
                                        </select>
                                    </div>
                                    <button class="el-btn">
                                        <span>search</span>
                                        <svg class="icon icon-search">
                                            <use xlink:href="img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque harum maxime modi, molestias praesentium quisquam quos repellat vel! Sed.
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- End page body -->
    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->
</div>
<!-- Begin script -->
<include src="../chunks/scripts.html"></include>
<!-- End script -->
</body>
</html>
