<include src="../chunks/head.html"></include>
<body>
<div id="page-wrapper" class="page-wrapper">
    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->
    <!-- Begin page body -->
    <div id="page-body" class="page-body">
        <section class="section mod-first" style="background: url(img/home-bg.jpg) no-repeat center/cover">
            <div class="wrap-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Great stories start here.</h1>
                            <p>From house painting to personal training, we bring you the right pros for every project
                                on your list.</p>
                            <div class="form-search">
                                <form action="#">
                                    <input class="input-search" placeholder="Search keyword" type="text"
                                           id="autocomplete">
                                    <div class="el-dropdown">
                                        <select class="ui dropdown">
                                            <option value="">By video</option>
                                            <option selected value="1">By video</option>
                                            <option value="0">By stream</option>
                                        </select>
                                    </div>
                                    <button class="el-btn">
                                        <span>search</span>
                                        <svg class="icon icon-search">
                                            <use xlink:href="img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section mod-featured">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">Featured videos</h2>
                    </div>

                    <div class="col-md-12">
                        <div class="js-featured-video-slider featured-video-slider">

                            <div class="featured-video">
                                <div class="prise">25$</div>
                                <div class="video-player mod-sm">
                                    <video playsinline controlsList="nodownload" class='video-element' poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg">
                                        <source src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' type='video/mp4'>
                                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm" />
                                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg" />
                                    </video>
                                </div>
                                <div class="name">
                                    Search Engine Optimization And Advertising
                                </div>
                                <div class="category">Pauline Hunter</div>
                                <ul class="info">
                                    <li>45 views</li>
                                    <li>02 Mar 2017</li>
                                </ul>
                            </div>

                            <div class="featured-video">
                                <div class="prise">25$</div>
                                <div class="video-player mod-sm">
                                    <video playsinline controlsList="nodownload" class='video-element' poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg">
                                        <source src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' type='video/mp4'>
                                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm" />
                                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg" />
                                    </video>
                                </div>
                                <div class="name">
                                    Search Engine Optimization And Advertising
                                </div>
                                <div class="category">Pauline Hunter</div>
                                <ul class="info">
                                    <li>45 views</li>
                                    <li>02 Mar 2017</li>
                                </ul>
                            </div>

                            <div class="featured-video">
                                <div class="prise">25$</div>
                                <div class="video-player mod-sm">
                                    <video playsinline controlsList="nodownload" class='video-element' poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg">
                                        <source src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' type='video/mp4'>
                                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm" />
                                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg" />
                                    </video>
                                </div>
                                <div class="name">
                                    Search Engine Optimization And Advertising
                                </div>
                                <div class="category">Pauline Hunter</div>
                                <ul class="info">
                                    <li>45 views</li>
                                    <li>02 Mar 2017</li>
                                </ul>
                            </div>

                            <div class="featured-video">
                                <div class="top">top</div>
                                <div class="prise">25$</div>
                                <div class="video-player mod-sm">
                                    <video playsinline controlsList="nodownload" class='video-element' poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg">
                                        <source src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' type='video/mp4'>
                                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm" />
                                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg" />
                                    </video>
                                </div>
                                <div class="name">
                                    Search Engine Optimization And Advertising
                                </div>
                                <div class="category">Pauline Hunter</div>
                                <ul class="info">
                                    <li>45 views</li>
                                    <li>02 Mar 2017</li>
                                </ul>
                            </div>

                            <div class="featured-video">
                                <div class="top">top</div>
                                <div class="prise">25$</div>
                                <div class="video-player mod-sm">
                                    <video playsinline controlsList="nodownload" class='video-element' poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg">
                                        <source src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' type='video/mp4'>
                                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm" />
                                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg" />
                                    </video>
                                </div>
                                <div class="name">
                                    Search Engine Optimization And Advertising
                                </div>
                                <div class="category">Pauline Hunter</div>
                                <ul class="info">
                                    <li>45 views</li>
                                    <li>02 Mar 2017</li>
                                </ul>


                            </div>

                        </div>

                    </div>


                    <div class="col-md-12 text-center ">
                        <a href="#" class="el-btn">all Videos</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section mod-categories">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">Categories</h2>
                    </div>
                    <div class="col-md-3 col-sm-6 categor-wrap">
                        <a href="#" class="categor-item">
                            <img src="img/categories-1.jpg" alt="">
                            <span class="text-wrap">
                                <span class="name">Events video stream</span>
                                <span class="text">Science Tutoring, Social Studies, Tutoring, Statistics Tutoring</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 categor-wrap">
                        <a href="#" class="categor-item">
                            <img src="img/categories-2.jpg" alt="">
                            <span class="text-wrap">
                                <span class="name">Purchase online</span>
                                <span class="text">Science Tutoring, Social Studies, Tutoring, Statistics Tutoring</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 categor-wrap">
                        <a href="#" class="categor-item">
                            <img src="img/categories-3.jpg" alt="">
                            <span class="text-wrap">
                                <span class="name">Repair service</span>
                                <span class="text">Science Tutoring, Social Studies, Tutoring, Statistics Tutoring</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 categor-wrap">
                        <a href="#" class="categor-item">
                            <img src="img/categories-4.jpg" alt="">
                            <span class="text-wrap">
                                <span class="name">Webinar teaching</span>
                                <span class="text">Science Tutoring, Social Studies, Tutoring, Statistics Tutoring</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">How it works</h2>
                    </div>
                    <div class="col-md-6">
                        <div class="how-it-works-item">
                            <div class="number">01</div>
                            <div class="title">
                                Tell us what
                                you need
                            </div>
                            <div class="text">
                                First, answer a few quick questions about what type of pro you’re looking for.
                            </div>
                        </div>
                        <div class="how-it-works-item">
                            <div class="number">02</div>
                            <div class="title">
                                Review free quotes
                            </div>
                            <div class="text">
                                Within hours, you’ll receive custom quotes based on your specific needs.
                            </div>
                        </div>
                        <div class="how-it-works-item">
                            <div class="number">03</div>
                            <div class="title">
                                Hire the right pro
                            </div>
                            <div class="text">
                                Compare quotes, profiles, and reviews, then hire the pro that’s right for you.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="video-player mod-sm">
                            <video class='video-element' poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg">
                                <source src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' type='video/mp4'>
                                <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm" />
                                <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg" />
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section mod-get-more">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">Get more done anytime</h2>
                    </div>
                    <div class="col-md-12 text-center">
                        <p>Send project requests, get quotes, and hire the right pro with the free Streambuck app for
                            iPhone.</p>
                        <ul class="app-links">
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="117" height="28" viewBox="0 0 117 28">
                                        <defs>
                                            <path id="okana"
                                                  d="M835.4 2500.2c0 .8-.2 1.5-.7 2-.6.6-1.3.9-2.2.9-.9 0-1.6-.3-2.2-.9-.6-.6-.9-1.3-.9-2.2 0-.9.3-1.6.9-2.2a2.94 2.94 0 0 1 3.4-.6c.4.2.7.4.9.7l-.5.5c-.4-.5-.9-.7-1.6-.7-.6 0-1.2.2-1.6.7-.5.4-.7 1-.7 1.7s.2 1.3.7 1.7c.5.4 1 .7 1.6.7.7 0 1.2-.2 1.7-.7.3-.3.5-.7.5-1.2h-2.2v-.7h2.9v.3z"/>
                                            <path id="okanb"
                                                  d="M840 2497.7h-2.7v1.9h2.5v.7h-2.5v1.9h2.7v.7h-3.5v-6h3.5z"/>
                                            <path id="okanc" d="M843.3 2503h-.8v-5.3h-1.7v-.7h4.1v.7h-1.7v5.3z"/>
                                            <path id="okand" d="M847.9 2503v-6h.8v6z"/>
                                            <path id="okane" d="M852.1 2503h-.8v-5.3h-1.7v-.7h4.1v.7H852v5.3z"/>
                                            <path id="okanf"
                                                  d="M861.6 2502.2c-.6.6-1.3.9-2.2.9-.9 0-1.6-.3-2.2-.9-.6-.6-.9-1.3-.9-2.2 0-.9.3-1.6.9-2.2.6-.6 1.3-.9 2.2-.9.9 0 1.6.3 2.2.9.6.6.9 1.3.9 2.2 0 .9-.3 1.6-.9 2.2zm-3.8-.5c.4.4 1 .7 1.6.7.6 0 1.2-.2 1.6-.7.4-.4.7-1 .7-1.7s-.2-1.3-.7-1.7c-.4-.4-1-.7-1.6-.7-.6 0-1.2.2-1.6.7-.4.4-.7 1-.7 1.7s.2 1.3.7 1.7z"/>
                                            <path id="okang"
                                                  d="M863.6 2503v-6h.9l2.9 4.7v-4.7h.8v6h-.8l-3.1-4.9v4.9h-.7z"/>
                                            <path id="okanh"
                                                  d="M865.4 2516.1c0 2.5-1.9 4.3-4.3 4.3s-4.3-1.9-4.3-4.3c0-2.5 1.9-4.3 4.3-4.3s4.3 1.7 4.3 4.3zm-1.9-.1c0-1.6-1.1-2.6-2.4-2.6-1.3 0-2.4 1.1-2.4 2.6s1.1 2.6 2.4 2.6c1.3 0 2.4-1.1 2.4-2.6zm-7.4.1c0 2.5-1.9 4.3-4.3 4.3s-4.3-1.9-4.3-4.3c0-2.5 1.9-4.3 4.3-4.3s4.3 1.7 4.3 4.3zm-1.9-.1c0-1.6-1.1-2.6-2.4-2.6-1.3 0-2.4 1.1-2.4 2.6s1.1 2.6 2.4 2.6c1.3 0 2.4-1.1 2.4-2.6zm-7.3-2.9c.1.3.1.7.1 1.1 0 1.3-.4 3-1.6 4.2a5.75 5.75 0 0 1-4.6 1.9c-3.6 0-6.7-3-6.7-6.6 0-3.6 3.1-6.6 6.7-6.6 2 0 3.4.8 4.5 1.8l-1.3 1.3a4.72 4.72 0 0 0-8 3.5c0 2.7 2 4.8 4.7 4.8 1.7 0 2.7-.7 3.3-1.3.5-.5.9-1.3 1-2.3h-4.3v-1.8zm39.4 1.9l-5.7 2.4c.5.9 1.1 1.3 2.1 1.3s1.6-.5 2.1-1.2l1.4 1c-.4.7-1.6 1.9-3.5 1.9-2.4 0-4.2-1.9-4.2-4.3 0-2.6 1.8-4.3 4-4.3s3.2 1.7 3.6 2.7zm-2.2-.7c-.2-.5-.9-.9-1.6-.9-.9 0-2.2.9-2.2 2.5zm-8.5-6.8h1.9v12.5h-1.9zm-3 5.2v-.7h1.8v7.6c0 3.1-1.8 4.4-4 4.4-2.1 0-3.3-1.4-3.8-2.5l1.6-.7c.2.7 1 1.5 2.1 1.5 1.4 0 2.3-.9 2.3-2.5v-.6h-.1c-.4.5-1.2 1-2.2 1-2.2 0-4.1-1.8-4.1-4.2 0-2.4 2-4.3 4.1-4.3 1 0 1.8.5 2.3 1zm.1 3.3c0-1.5-1-2.6-2.3-2.6-1.3 0-2.4 1.1-2.4 2.6s1.1 2.6 2.4 2.6c1.3 0 2.3-1.1 2.3-2.6zm26.2-4.6c0 2.4-2 3.9-4.1 3.9h-2.6v4.7h-1.9v-12.5h4.5c2.1 0 4.1 1.5 4.1 3.9zm-1.8-.1c0-.9-.8-2.1-2.2-2.1h-2.7v4.3h2.7c1.3 0 2.1-1.1 2.2-2.2zm13.3 3.9v4.8h-1.8v-1h-.1c-.5.6-1.1 1.2-2.4 1.2-1.6 0-3.1-1.1-3.1-2.8 0-1.8 1.8-2.8 3.6-2.8.8 0 1.6.3 1.9.5v-.1c-.1-1-1-1.6-2-1.6-.7 0-1.3.2-1.7.9l-1.7-.7c.5-1.3 1.9-1.9 3.3-1.9 2.1 0 3.8 1.3 4 3.5zm-2 1.4c-.5-.2-.9-.4-1.7-.4-.9 0-2 .3-2 1.3 0 .8.9 1.1 1.5 1.1 1 0 2-.8 2.2-2zm8.3-4.6h2l-5.1 11.8h-1.9l1.9-4.2-3.3-7.6h2l2.2 5.4h.1zm-16.8-4.5h1.9v12.5h-1.9z"/>
                                            <path id="okani"
                                                  d="M803.4 2497.5c-.3.3-.5.8-.5 1.4v22.1c0 .6.2 1.1.5 1.4l.1.1 12.4-12.4v-.2l-12.5-12.4z"/>
                                            <path id="okank"
                                                  d="M820 2514.3l-4.1-4.1V2509.9l4.1-4.1.1.1 4.9 2.8c1.4.8 1.4 2.1 0 2.9l-5 2.7z"/>
                                            <path id="okanm"
                                                  d="M820.1 2514.2l-4.2-4.2-12.5 12.5c.5.5 1.2.5 2.1.1l14.6-8.4"/>
                                            <path id="okano"
                                                  d="M820.1 2505.8l-14.6-8.3c-.9-.5-1.6-.4-2.1.1l12.5 12.5z"/>
                                            <path id="okanq"
                                                  d="M820 2514.1l-14.5 8.2c-.8.5-1.5.4-2 0l-.1.1.1.1c.5.4 1.2.5 2 0l14.5-8.4z"/>
                                            <path id="okanr"
                                                  d="M803.4 2522.3c-.3-.3-.5-.8-.5-1.4v.1c0 .6.2 1.1.5 1.4v-.1z"/>
                                            <path id="okans"
                                                  d="M825 2511.3l-5 2.8.1.1 4.9-2.8c.7-.4 1-.9 1-1.4 0 .5-.4.9-1 1.3z"/>
                                            <path id="okant"
                                                  d="M805.5 2497.6l19.5 11.1c.6.4 1 .8 1 1.3 0-.5-.3-1-1-1.4l-19.5-11.1c-1.4-.8-2.5-.1-2.5 1.5v.1c0-1.6 1.1-2.3 2.5-1.5z"/>
                                            <linearGradient id="okanj" x1="814.8" x2="798.02" y1="2498.71" y2="2515.49"
                                                            gradientUnits="userSpaceOnUse">
                                                <stop offset="0" stop-color="#00a0ff"/>
                                                <stop offset=".01" stop-color="#00a1ff"/>
                                                <stop offset=".26" stop-color="#00beff"/>
                                                <stop offset=".51" stop-color="#00d2ff"/>
                                                <stop offset=".76" stop-color="#00dfff"/>
                                                <stop offset="1" stop-color="#00e3ff"/>
                                            </linearGradient>
                                            <linearGradient id="okanl" x1="826.83" x2="802.64" y1="2510" y2="2510"
                                                            gradientUnits="userSpaceOnUse">
                                                <stop offset="0" stop-color="#ffe000"/>
                                                <stop offset=".41" stop-color="#ffbd00"/>
                                                <stop offset=".78" stop-color="orange"/>
                                                <stop offset="1" stop-color="#ff9c00"/>
                                            </linearGradient>
                                            <linearGradient id="okann" x1="817.83" x2="795.07" y1="2512.3" y2="2535.06"
                                                            gradientUnits="userSpaceOnUse">
                                                <stop offset="0" stop-color="#ff3a44"/>
                                                <stop offset="1" stop-color="#c31162"/>
                                            </linearGradient>
                                            <linearGradient id="okanp" x1="800.3" x2="810.46" y1="2490.17" y2="2500.34"
                                                            gradientUnits="userSpaceOnUse">
                                                <stop offset="0" stop-color="#32a071"/>
                                                <stop offset=".07" stop-color="#2da771"/>
                                                <stop offset=".48" stop-color="#15cf74"/>
                                                <stop offset=".8" stop-color="#06e775"/>
                                                <stop offset="1" stop-color="#00f076"/>
                                            </linearGradient>
                                        </defs>
                                        <g>
                                            <g transform="translate(-802 -2496)">
                                                <g>
                                                    <g>
                                                        <use class="andr"  xlink:href="#okana"/>
                                                    </g>
                                                    <g>
                                                        <use class="andr"  xlink:href="#okanb"/>
                                                    </g>
                                                    <g>
                                                        <use class="andr"  xlink:href="#okanc"/>
                                                    </g>
                                                    <g>
                                                        <use class="andr"  xlink:href="#okand"/>
                                                    </g>
                                                    <g>
                                                        <use class="andr"  xlink:href="#okane"/>
                                                    </g>
                                                    <g>
                                                        <use class="andr"  xlink:href="#okanf"/>
                                                    </g>
                                                    <g>
                                                        <use class="andr"  xlink:href="#okang"/>
                                                    </g>
                                                </g>
                                                <g>
                                                    <use class="andr"  xlink:href="#okanh"/>
                                                </g>
                                                <g>
                                                    <g>
                                                        <use fill="url(#okanj)" xlink:href="#okani"/>
                                                    </g>
                                                    <g>
                                                        <use fill="url(#okanl)" xlink:href="#okank"/>
                                                    </g>
                                                    <g>
                                                        <use fill="url(#okann)" xlink:href="#okanm"/>
                                                    </g>
                                                    <g>
                                                        <use fill="url(#okanp)" xlink:href="#okano"/>
                                                    </g>
                                                    <g>
                                                        <g opacity=".2">
                                                            <use xlink:href="#okanq"/>
                                                        </g>
                                                        <g opacity=".12">
                                                            <use xlink:href="#okanr"/>
                                                        </g>
                                                    </g>
                                                    <g opacity=".12">
                                                        <use xlink:href="#okans"/>
                                                    </g>
                                                    <g opacity=".25">
                                                        <use class="andr"  xlink:href="#okant"/>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="ios">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="111" height="30" viewBox="0 0 111 30">
                                        <defs>
                                            <path id="yjjsa"
                                                  d="M1023.1 2558.8c0-3.2 2.6-4.8 2.8-4.9a5.87 5.87 0 0 0-4.7-2.5c-2-.2-3.9 1.2-4.9 1.2-1 0-2.6-1.2-4.2-1.1a6.2 6.2 0 0 0-5.2 3.2c-2.3 3.9-.6 9.7 1.6 12.9 1.1 1.6 2.4 3.3 4 3.2 1.6-.1 2.2-1 4.2-1 1.9 0 2.5 1 4.2 1 1.7 0 2.8-1.6 3.9-3.1 1.3-1.8 1.8-3.5 1.8-3.6-.1-.2-3.4-1.5-3.5-5.3z"/>
                                            <path id="yjjsb"
                                                  d="M1019.9 2549.3a5.5 5.5 0 0 0 1.3-4.1c-1.3.1-2.8.9-3.8 1.9-.8.9-1.5 2.5-1.3 3.9 1.5.2 2.9-.6 3.8-1.7z"/>
                                            <path id="yjjsc"
                                                  d="M1046.6 2570.5h-2.3l-1.2-3.9h-4.3l-1.2 3.9h-2.2l4.3-13.3h2.6zm-3.8-5.5l-1.1-3.5c-.1-.4-.3-1.2-.7-2.5-.1.6-.3 1.4-.6 2.5l-1.1 3.5z"/>
                                            <path id="yjjsd"
                                                  d="M1057.7 2565.6c0 1.6-.4 2.9-1.3 3.9-.8.8-1.8 1.3-2.9 1.3-1.3 0-2.2-.5-2.7-1.4v5.1h-2.1v-10.3c0-1 0-2.1-.1-3.2h1.9l.1 1.5c.7-1.1 1.8-1.7 3.2-1.7 1.1 0 2.1.4 2.8 1.3.7.8 1.1 2 1.1 3.5zm-2.2.1c0-.9-.2-1.7-.6-2.3-.5-.6-1.1-.9-1.9-.9-.5 0-1 .2-1.4.5-.4.4-.7.8-.8 1.4-.1.3-.1.5-.1.6v1.6c0 .7.2 1.3.6 1.8.4.5 1 .7 1.7.7.8 0 1.4-.3 1.9-.9.4-.7.6-1.5.6-2.5z"/>
                                            <path id="yjjse"
                                                  d="M1068.7 2565.6c0 1.6-.4 2.9-1.3 3.9-.8.8-1.8 1.3-2.9 1.3-1.3 0-2.2-.5-2.7-1.4v5.1h-2.1v-10.3c0-1 0-2.1-.1-3.2h1.9l.1 1.5c.7-1.1 1.8-1.7 3.2-1.7 1.1 0 2.1.4 2.8 1.3.7.8 1.1 2 1.1 3.5zm-2.2.1c0-.9-.2-1.7-.6-2.3-.5-.6-1.1-.9-1.9-.9-.5 0-1 .2-1.4.5-.4.4-.7.8-.8 1.4-.1.3-.1.5-.1.6v1.6c0 .7.2 1.3.6 1.8.4.5 1 .7 1.7.7.8 0 1.4-.3 1.9-.9.4-.7.6-1.5.6-2.5z"/>
                                            <path id="yjjsf"
                                                  d="M1081 2566.8c0 1.1-.4 2.1-1.2 2.8-.9.8-2.1 1.2-3.6 1.2-1.4 0-2.6-.3-3.4-.8l.5-1.8c.9.6 2 .9 3.1.9.8 0 1.4-.2 1.9-.5.4-.4.7-.8.7-1.5 0-.5-.2-1-.6-1.4-.4-.4-1-.7-1.8-1-2.3-.9-3.5-2.1-3.5-3.8 0-1.1.4-2 1.2-2.7.8-.7 1.9-1 3.3-1 1.2 0 2.2.2 3 .6l-.5 1.7c-.8-.4-1.6-.6-2.5-.6-.8 0-1.3.2-1.8.6-.4.3-.5.7-.5 1.2s.2 1 .6 1.3c.4.3 1 .7 1.9 1 1.1.5 2 1 2.5 1.6.5.5.7 1.3.7 2.2z"/>
                                            <path id="yjjsg"
                                                  d="M1088.1 2562.5h-2.4v4.7c0 1.2.4 1.8 1.2 1.8.4 0 .7 0 .9-.1l.1 1.6c-.4.2-1 .2-1.7.2-.8 0-1.5-.3-2-.8s-.7-1.4-.7-2.6v-4.8h-1.4v-1.6h1.4v-1.8l2.1-.6v2.4h2.3c.2 0 .2 1.6.2 1.6z"/>
                                            <path id="yjjsh"
                                                  d="M1098.7 2565.6c0 1.5-.4 2.7-1.3 3.6-.9 1-2.1 1.5-3.5 1.5s-2.5-.5-3.4-1.4a5.2 5.2 0 0 1-1.3-3.5c0-1.5.4-2.7 1.3-3.7.9-.9 2-1.4 3.5-1.4a4.6 4.6 0 0 1 4.7 4.9zm-2.2.1c0-.9-.2-1.6-.6-2.3-.4-.8-1.1-1.1-1.9-1.1-.9 0-1.5.4-2 1.1-.4.6-.6 1.4-.6 2.3 0 .9.2 1.6.6 2.3.5.8 1.1 1.1 1.9 1.1.8 0 1.5-.4 1.9-1.2.5-.6.7-1.3.7-2.2z"/>
                                            <path id="yjjsi"
                                                  d="M1105.6 2562.8c-.2 0-.4-.1-.7-.1-.8 0-1.3.3-1.7.9-.4.5-.5 1.1-.5 1.9v5h-2.1v-6.6c0-1.1 0-2.1-.1-3h1.9l.1 1.8h.1c.2-.6.6-1.1 1.1-1.5.5-.3 1-.5 1.5-.5h.5c-.1.1-.1 2.1-.1 2.1z"/>
                                            <path id="yjjsj"
                                                  d="M1115.2 2565.3c0 .4 0 .7-.1 1h-6.4c0 .9.3 1.7.9 2.2.5.4 1.2.7 2.1.7.9 0 1.8-.2 2.6-.5l.3 1.5c-.9.4-2 .6-3.2.6-1.5 0-2.7-.4-3.5-1.3a5.2 5.2 0 0 1-1.3-3.5c0-1.4.4-2.7 1.2-3.6.8-1 1.9-1.5 3.4-1.5 1.4 0 2.4.5 3.1 1.5.6.6.9 1.7.9 2.9zm-2.5-2.2c-.4-.6-.9-.9-1.7-.9-.7 0-1.3.3-1.7.9-.4.5-.6 1-.6 1.7l4.4-.1c0-.6-.1-1.2-.4-1.6z"/>
                                            <path id="yjjsk"
                                                  d="M1042 2549c0 1.2-.4 2.1-1.1 2.7-.7.5-1.6.8-2.8.8-.6 0-1.1 0-1.5-.1v-6.4c.6-.1 1.2-.1 1.8-.1 1.1 0 2 .2 2.6.7.7.6 1 1.4 1 2.4zm-1.1 0c0-.8-.2-1.3-.6-1.8-.4-.4-1-.6-1.8-.6-.3 0-.6 0-.8.1v4.9h.7c.8 0 1.4-.2 1.9-.7.4-.4.6-1 .6-1.9z"/>
                                            <path id="yjjsl"
                                                  d="M1047.9 2550c0 .7-.2 1.3-.6 1.8-.4.5-1 .7-1.7.7s-1.2-.2-1.7-.7c-.4-.5-.6-1-.6-1.7s.2-1.3.6-1.8c.4-.5 1-.7 1.7-.7s1.2.2 1.7.7c.4.5.6 1 .6 1.7zm-1.1.1c0-.4-.1-.8-.3-1.1-.2-.4-.5-.6-.9-.6s-.7.2-1 .6c-.2.3-.3.7-.3 1.1 0 .4.1.8.3 1.1.2.4.5.6 1 .6.4 0 .7-.2.9-.6.2-.3.3-.7.3-1.1z"/>
                                            <path id="yjjsm"
                                                  d="M1055.8 2547.7l-1.5 4.7h-1l-.6-2c-.2-.5-.3-1-.4-1.5-.1.5-.2 1-.4 1.5l-.6 2h-1l-1.4-4.7h1.1l.5 2.2.3 1.5c.1-.4.2-.9.4-1.5l.7-2.3h.9l.6 2.2c.2.5.3 1.1.4 1.6.1-.5.2-1 .3-1.6l.6-2.2 1.1.1z"/>
                                            <path id="yjjsn"
                                                  d="M1061.2 2552.4h-1v-2.7c0-.8-.3-1.2-1-1.2-.3 0-.6.1-.8.3-.2.2-.3.5-.3.8v2.8h-1v-3.4-1.3h.9v.7c.1-.2.3-.4.5-.6.3-.2.6-.3.9-.3.4 0 .8.1 1.1.4.4.3.5.9.5 1.6v2.9z"/>
                                            <path id="yjjso" d="M1064.1 2552.4h-1v-6.9h1z"/>
                                            <path id="yjjsp"
                                                  d="M1070.3 2550c0 .7-.2 1.3-.6 1.8-.4.5-1 .7-1.7.7s-1.2-.2-1.7-.7c-.4-.5-.6-1-.6-1.7s.2-1.3.6-1.8c.4-.5 1-.7 1.7-.7s1.2.2 1.7.7c.4.5.6 1 .6 1.7zm-1.1.1c0-.4-.1-.8-.3-1.1-.2-.4-.5-.6-.9-.6s-.7.2-1 .6c-.2.3-.3.7-.3 1.1 0 .4.1.8.3 1.1.2.4.5.6 1 .6.4 0 .7-.2.9-.6.2-.3.3-.7.3-1.1z"/>
                                            <path id="yjjsq"
                                                  d="M1075.3 2552.4h-.9l-.1-.5c-.3.4-.8.6-1.4.6-.4 0-.8-.1-1.1-.4-.2-.3-.4-.6-.4-1 0-.6.2-1 .7-1.3.5-.3 1.2-.5 2-.4v-.1c0-.6-.3-.9-1-.9-.5 0-.9.1-1.2.3l-.2-.7c.4-.3 1-.4 1.6-.4 1.2 0 1.9.6 1.9 1.9v1.7c.1.6.1 1 .1 1.2zm-1.1-1.6v-.7c-1.2 0-1.7.3-1.7.9 0 .2.1.4.2.6.1.2.3.2.5.2s.4-.1.6-.2c.2-.1.3-.3.4-.6v-.2z"/>
                                            <path id="yjjsr"
                                                  d="M1081.3 2552.4h-.9v-.8c-.3.6-.8.9-1.5.9-.6 0-1-.2-1.4-.7-.4-.5-.6-1-.6-1.7 0-.8.2-1.4.6-1.9.4-.4.9-.7 1.5-.7s1.1.2 1.3.6v-2.7h1v5.6c-.1.6 0 1 0 1.4zm-1.1-2v-1.1c-.1-.3-.2-.5-.4-.6a.9.9 0 0 0-.7-.3c-.4 0-.7.2-.9.5-.2.3-.3.7-.3 1.2s.1.8.3 1.1c.2.3.5.5.9.5.3 0 .6-.1.8-.4.2-.2.3-.5.3-.9z"/>
                                            <path id="yjjss"
                                                  d="M1090.2 2550c0 .7-.2 1.3-.6 1.8-.4.5-1 .7-1.7.7s-1.2-.2-1.7-.7c-.4-.5-.6-1-.6-1.7s.2-1.3.6-1.8c.4-.5 1-.7 1.7-.7s1.2.2 1.7.7c.4.5.6 1 .6 1.7zm-1 .1c0-.4-.1-.8-.3-1.1-.2-.4-.5-.6-.9-.6s-.7.2-1 .6c-.2.3-.3.7-.3 1.1 0 .4.1.8.3 1.1.2.4.5.6 1 .6.4 0 .7-.2.9-.6.2-.3.3-.7.3-1.1z"/>
                                            <path id="yjjst"
                                                  d="M1095.9 2552.4h-1v-2.7c0-.8-.3-1.2-1-1.2-.3 0-.6.1-.8.3-.2.2-.3.5-.3.8v2.8h-1v-3.4-1.3h.9v.7c.1-.2.3-.4.5-.6.3-.2.6-.3 1-.3s.8.1 1.1.4c.4.3.5.9.5 1.6v2.9z"/>
                                            <path id="yjjsu"
                                                  d="M1102.9 2548.5h-1.2v2.3c0 .6.2.9.6.9h.5v.8c-.2.1-.5.1-.8.1-.4 0-.7-.1-1-.4-.2-.3-.3-.7-.3-1.3v-2.4h-.7v-.8h.7v-.9l1-.3v1.2h1.2v.8z"/>
                                            <path id="yjjsv"
                                                  d="M1108.5 2552.4h-1v-2.7c0-.8-.3-1.3-.9-1.3-.5 0-.8.2-1 .7V2552.3h-1v-6.9h1v2.8c.3-.5.8-.8 1.4-.8.4 0 .8.1 1.1.4.4.4.5.9.5 1.6-.1.2-.1 3-.1 3z"/>
                                            <path id="yjjsw"
                                                  d="M1114.2 2549.9v.5h-3.1c0 .5.2.8.5 1.1.3.2.6.3 1 .3.5 0 .9-.1 1.3-.2l.2.7c-.4.2-1 .3-1.6.3-.7 0-1.3-.2-1.7-.6-.4-.4-.6-1-.6-1.7s.2-1.3.6-1.8c.4-.5 1-.8 1.6-.8.7 0 1.2.3 1.5.8.2.3.3.8.3 1.4zm-1-.3c0-.3-.1-.6-.2-.8a.9.9 0 0 0-.8-.4c-.3 0-.6.1-.8.4-.2.2-.3.5-.3.8h2.1z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-1005 -2545)">
                                                <g>
                                                    <g>
                                                        <use xlink:href="#yjjsa"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsb"/>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <use xlink:href="#yjjsc"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsd"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjse"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsf"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsg"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsh"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsi"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsj"/>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <use xlink:href="#yjjsk"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsl"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsm"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsn"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjso"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsp"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsq"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsr"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjss"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjst"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsu"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsv"/>
                                                    </g>
                                                    <g>
                                                        <use xlink:href="#yjjsw"/>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <!-- End page body -->
    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->
</div>
<!-- Begin script -->
<include src="../chunks/scripts.html"></include>
<!-- End script -->
</body>
</html>
