<include src="../chunks/head.html"></include>
<body>
<div id="page-wrapper" class="page-wrapper">
    <!-- Begin header -->
    <include src="../chunks/header-w.html"></include>
    <!-- End header -->
    <!-- Begin page body -->
    <div id="page-body" class="page-body">
        <section class="section mod-first" style="background: url(img/catalogue-bg.jpg) no-repeat center/cover">
            <div class="breadcrumbs-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="breadcrumbs">
                                <li><a href="#">Home</a></li>
                                <li><span>Video</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Video</h1>
                            <div class="form-search">
                                <form action="#">
                                    <input class="input-search" placeholder="Search keyword" type="text"
                                           id="autocomplete">
                                    <div class="el-dropdown">
                                        <select class="ui dropdown">
                                            <option value="">By video</option>
                                            <option selected value="1">By video</option>
                                            <option value="0">By stream</option>
                                        </select>
                                    </div>
                                    <button class="el-btn">
                                        <span>search</span>
                                        <svg class="icon icon-search">
                                            <use xlink:href="img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="video-player">
                            <div class="name">
                                Business Travel With The Wife
                                <div class="category">Pauline Hunter</div>
                            </div>
                            <video playsinline controlsList="nodownload" class='video-element'
                                   poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg">
                                <source src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' type='video/mp4'>
                                <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm"/>
                                <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg"/>
                            </video>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="video-player-youtube">
                            <div class="name">
                                Business Travel With The Wife
                                <div class="category">Pauline Hunter</div>
                            </div>
                            <div class="video-youtube-wrap" data-id-video="Xa0Q0J5tOP0">
                                <div id="player" class="video-placeholder"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- End page body -->
    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->
</div>
<!-- Begin script -->
<script src="https://www.youtube.com/iframe_api"></script>
<include src="../chunks/scripts.html"></include>
<!-- End script -->
</body>
</html>
