<footer id="footer" class="wrapper footer">
  <div class="footer-nav">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <ul class="nav">
            <li><h3><a href="#">Categories</a></h3></li>
            <li><a href="#">Events video stream</a></li>
            <li><a href="#">Purchase online</a></li>
            <li><a href="#">Repair service</a></li>
            <li><a href="#">Webinar teaching</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <ul class="nav">
            <li><h3><a href="#">Company</a></h3></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Press center</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <ul class="nav">
            <li><h3><a href="#">Features</a></h3></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Streaming</a></li>
            <li><a href="#">License</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <ul class="nav">
            <li><h3><a href="#">Support</a></h3></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Create ticket</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
          <ul class="social">
            <li>
              <a href="#" class="mod-fb">
                <svg class="icon icon-fb">
                   <use xlink:href="img/sprite.svg#fb"></use>
                 </svg>
              </a>
            </li>
            <li>
              <a href="#" class="mod-you">
                <svg class="icon icon-you">
                   <use xlink:href="img/sprite.svg#you"></use>
                 </svg>
              </a>
            </li>
            <li>
              <a href="#" class="mod-in">
                <svg class="icon icon-in">
                   <use xlink:href="img/sprite.svg#in"></use>
                 </svg>
              </a>
            </li>
            <li>
              <a href="#" class="mod-tw">
                <svg class="icon icon-tw">
                   <use xlink:href="img/sprite.svg#tw"></use>
                 </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copy">
          ©2017 StreamBuck. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
