<header id="header" class="wrapper header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 clear">
        <div class="btn-menu">
          <svg class="icon icon-nav">
             <use xlink:href="img/sprite.svg#nav"></use>
           </svg>
        </div>
        <a href="#" class="logo">
          Streambuck
        </a>
        <div class="btn-authentication">
          <svg class="icon icon-user">
            <use xlink:href="img/sprite.svg#user"></use>
          </svg>
        </div>
        <div class="el-dropdown">
          <select class="ui dropdown">
            <option value="">EN</option>
            <option value="1">RU</option>
            <option value="0">EN</option>
          </select>
        </div>

        <div class="el-dropdown">
          <select class="ui dropdown">
            <option value="">location</option>
            <option value="1">location 1</option>
            <option value="0">location 2</option>
          </select>
        </div>



        <ul class="nav">
          <li><a href="#">About us</a></li>
          <li><a href="#">How it works</a></li>
        </ul>

        <ul class="authentication">
          <li><a href="#">Log In</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a class="mod-btn" href="#">
            <span>Start stream</span>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
